<%inherit file="time2trip:templates/base.mako"/>
<%block name="title">BLANK PAGE</%block>
<%block name="body">
    <div class="container-fluid" style="padding-top: 15px; height:100%; background: #eee;">
        <div class="row" style="max-width: 800px; background: white; position: relative; margin: 0 auto; box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16); height: 100%;">
            <div class = "col-md-12 col-lg-12">
                test
            </div>
        </div>
    </div>
</%block>