<template>
    <app-page-layout :class_name = 'class_name' :title = 'title'>
        <template slot="content">
            <block :type="'error'">
            <template slot="header">{{ $t('shared.route_not_found') }}</template>
            </block>
        </template>
    </app-page-layout>
</template>
<script>
    import Block from './Block.vue'
    export default {
        data () {
            return {
                class_name: 'not-found',
                title: 'Problem'
            }
        }
    }
</script>