<template>
    <div class="input-group add-point-ctrl">
      <input type="text" class="form-control" v-model="text" id="tbx_search_point" @input="drop_place" @keyup.enter="add_point" :placeholder="$t('add_point.city')">
      <span class="input-group-btn">
        <button type="submit" class="btn-default btn" :disabled="place == null" @click="add_point">{{ $t('shared.add') }}</button>
      </span>
    </div>
</template>

<script>
export default {
    data () {
        return {
            place: null,
            text: '',
            autocomplete_listener: null
        }
    },

    mounted () {

        window.map_ready_promise.then(
            () => {
                window.autoComplete = new window.google.maps.places.Autocomplete(document.getElementById('tbx_search_point'), {types: ['(cities)']})
                window.autoComplete.bindTo('bounds', window.map)

                this.autocomplete_listener = google.maps.event.addListener(window.autoComplete, 'place_changed', () => {
                    this.place = window.autoComplete.getPlace()
                    this.text = this.place.formatted_address
                    if (this.place.geometry.viewport)
                        window.map.fitBounds(this.place.geometry.viewport)
                    else
                        window.map.setCenter(this.place.geometry.location)
                        window.map.setZoom(10)
                })
                console.log (this.autocomplete_listener)
            }
        )
        
     },

     beforeDestroy () {
        console.log('delete listener')
        google.maps.event.removeListener(this.autocomplete_listener)
     },

    methods: {
        drop_place () {
            this.place = null
        },
        add_point () {
            if (this.place == null)
                return

            let jsonData = {
                'route_id':this.$store.state.route.id,
                'lat': this.place.geometry.location.lat(),
                'lng': this.place.geometry.location.lng(),
                'title': this.place.address_components[0].long_name,
                'address': this.place.formatted_address,
                'address_components': this.place.address_components,
                'gmaps_placeid': this.place.place_id
            }

            console.log(this.place)

            if (this.place.geometry.viewport)
                jsonData.bounds = {
                    'southwest': coords_helper(this.place.geometry.viewport.getSouthWest().toString()),
                    'northeast':coords_helper(this.place.geometry.viewport.getNorthEast().toString())
                }

            this.$store.dispatch('add_point', jsonData).then(
                (point_id) => {
                    this.drop_place()
                    this.text = ''
                }
            )

        }
    }
}
</script>