<template>
    <app-page-layout :class_name = 'class_name' :title = 'title' :btn_path="btn_path" :btn_icon="btn_icon">

      <add-point slot="content"></add-point>

      <template slot="scroll_content">
        <ul class="list-group-custom" v-if="points.length > 0">
            <my-point v-for="point in points" :point="point" ></my-point>
        </ul>
        <block :type="'no-object'" v-if="points.length == 0">
            <template slot="header">{{ $t('points.no_points') }}</template>
        </block>
      </template>

    </app-page-layout>
</template>

<script lang="babel">
import { mapGetters } from 'vuex'
import Point from './Point.vue'
import AddPoint from './AddPoint.vue'

export default {
    data () {
      return { 
        class_name: 'points',
        btn_icon: 'fa fa-pencil',
        btn_path: {name: 'route.edit'}
      }
    },
    components: {'my-point': Point, 'add-point': AddPoint},
    computed: {
        title () {
          return this.$store.state.route.title
        },
        ...mapGetters(['points', 'markers'])
        
    },
    mounted() {
      // this.show_route(true)
    },
    // beforeDestroy() {
    //   this.show_route(false)
    // },
    // watch: {
    //   points: {
    //     handler: function (n) {
    //       this.show_route(true)
    //     }
    //   }
    // },
    // methods: {
    //   show_route (b) {
    //     window.route_loaded_promise.then(
    //         () => {
    //           for (let point of this.points){
    //             point.marker.setVisible(b)
    //           }
    //           // this.$store.state.route_line.setVisible(b)
    //         }
    //     ).fail((e) => console.log(e))
    //   }
    // }

}
</script>
