.primary-0
    background-color #168CCC

.primary-1
    background-color #63B2DC

.primary-2
    background-color #3B9ED3

.primary-3
    background-color #0676B2

.primary-4
    background-color #045682

html,body
    height 100%

body
    padding-top 50px

.container-fluid
    padding-left 0
    padding-right 0
    padding-right 0
    padding-left 0

.navbar-custom
    background-color #168ccc
    color #fff
    .icon-bar
        background-color #fff
    &.navbar-fixed-top
        border-width 0 0 0
    a
        color #fefefe
    .form-control
        &:focus
            border-color #49bfff
            outline 0
            -webkit-box-shadow inset 0 0 0
            box-shadow inset 0 0 0

    li > a:hover,
    li > a:focus
        background-color #49bfff

    .navbar-brand
        background #34AAEA
        margin-right 10px
        
    .nav
        &:last-child
            margin-right 0

        .open > a,
        .open > a:hover,
        .open > a:focus
            background-color #49bfff !important
            border-color #428bca

        .active > a,
        .active > a:hover,
        .active > a:focus
            background-color #34AAEA
            border-bottom 3px solid
            padding-bottom 12px

.has-error
    border 1px solid red

.btn
    border-radius 0px !important

.form-control
    border-radius 0
    &.invalid
        border 1px solid red
        box-shadow none

.panel-group
    .panel
        border-radius 0px

.panel-heading
    border-radius 0

.modal-content
    border-radius 0

.footer
    position absolute
    bottom 0
    width 100%
    height 30px
    background-color #f5f5f5

.modal-footer
    padding 10px

.alert
    border-radius 0

.dropdown-menu
    border-radius 0

.modal-lg
    width 70%

.form-control:focus,
.form-control:hover
    border 1px solid #168ccc
    box-shadow none

.btn:focus,
.btn:active:focus
    outline none

.tooltip
    .tooltip-inner
        border-radius 0
