.auth-form {
  max-width: 330px;
  padding: 15px;
  margin: 10px auto;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.16);
  background: #fff;
}
.auth-form .auth-menu {
  margin: 10px;
  text-align: center;
  font-size: 16px;
}
.auth-form .language {
  text-align: right;
}
.auth-form .checkbox {
  font-weight: normal;
}
.auth-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.auth-form .form-control:focus {
  z-index: 2;
}
.auth-form input {
  margin-bottom: -1px;
}
.auth-form button[type=submit] {
  margin-top: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.after-registration {
  margin: 10% auto;
  text-align: center;
  padding: 15px;
  border: 1px solid #00f;
  font-size: 16pt;
  max-width: 1000px;
}

.primary-0 {
  background-color: #168ccc;
}
.primary-1 {
  background-color: #63b2dc;
}
.primary-2 {
  background-color: #3b9ed3;
}
.primary-3 {
  background-color: #0676b2;
}
.primary-4 {
  background-color: #045682;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 50px;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-right: 0;
  padding-left: 0;
}
.navbar-custom {
  background-color: #168ccc;
  color: #fff;
}
.navbar-custom .icon-bar {
  background-color: #fff;
}
.navbar-custom.navbar-fixed-top {
  border-width: 0 0 0;
}
.navbar-custom a {
  color: #fefefe;
}
.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}
.navbar-custom li > a:hover,
.navbar-custom li > a:focus {
  background-color: #49bfff;
}
.navbar-custom .navbar-brand {
  background: #34aaea;
  margin-right: 10px;
}
.navbar-custom .nav:last-child {
  margin-right: 0;
}
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:hover,
.navbar-custom .nav .open > a:focus {
  background-color: #49bfff !important;
  border-color: #428bca;
}
.navbar-custom .nav .active > a,
.navbar-custom .nav .active > a:hover,
.navbar-custom .nav .active > a:focus {
  background-color: #34aaea;
  border-bottom: 3px solid;
  padding-bottom: 12px;
}
.has-error {
  border: 1px solid #f00;
}
.btn {
  border-radius: 0px !important;
}
.form-control {
  border-radius: 0;
}
.form-control.invalid {
  border: 1px solid #f00;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0px;
}
.panel-heading {
  border-radius: 0;
}
.modal-content {
  border-radius: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}
.modal-footer {
  padding: 10px;
}
.alert {
  border-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
}
.modal-lg {
  width: 70%;
}
.form-control:focus,
.form-control:hover {
  border: 1px solid #168ccc;
  box-shadow: none;
}
.btn:focus,
.btn:active:focus {
  outline: none;
}
.tooltip .tooltip-inner {
  border-radius: 0;
}


.active-routes > .active-routes-body,
.shared-routes > .shared-routes-body {
  border-top: 1px dotted #00bfff;
  padding-top: 10px;
  clear: both;
}
.active-routes > .active-routes-body .route-info-link,
.shared-routes > .shared-routes-body .route-info-link {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}
.active-routes > .active-routes-body .route-info-link:hover,
.shared-routes > .shared-routes-body .route-info-link:hover,
.active-routes > .active-routes-body .route-info-link:focus,
.shared-routes > .shared-routes-body .route-info-link:focus,
.active-routes > .active-routes-body .route-info-link:visited,
.shared-routes > .shared-routes-body .route-info-link:visited {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}

.screen-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: url("/static/images/loading.gif") no-repeat center center;
  background-color: #fff;
  opacity: 0.7;
  z-index: 1001;
  width: 100%;
}
.map-section {
  height: 100%;
  width: calc(100% - 450px);
  float: left;
}
.app-menu {
  float: right;
  width: 50px;
  height: 100%;
  margin-top: 65px;
}
.app-menu.reverse {
  float: left;
}
.app-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.app-menu .menu-btn {
  height: 50px;
  width: 50px;
}
.app-section {
  height: 100%;
  width: 450px;
  float: right;
  background: #fff;
}
.app-section .app-view {
  padding: 0 10px;
  float: left;
  width: 400px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.app-section .app-view.reverse {
  float: right;
}
.app-section .app-view .app-spinner {
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url("/static/images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.app-section .app-view .app-error {
  text-align: center;
  margin: 20px;
  padding: 10px;
  background: #d9534f;
  color: #fff;
}
.app-section .app-view > .header {
  margin-top: 10px;
  padding-bottom: 10px;
  display: table;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.app-section .app-view > .header .header-btn {
  display: table-cell;
  border-right: 1px solid #ccc;
}
.app-section .app-view > .header .header-btn .btn {
  border: none;
}
.app-section .app-view > .header .header-title {
  width: 100%;
  font-size: 25px;
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
.app-section .app-view .scroll-content {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 50px;
  position: relative;
}
.app-section .app-view .scroll-content .scroll-me {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px;
  padding-right: 20px;
}
.app-section .app-view.points .add-point-ctrl {
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.sort-handler {
  left: -50px;
  float: left;
  position: relative;
  cursor: move;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
}
.list-group-custom {
  padding-left: 0px;
  overflow: hidden;
}
.list-group-custom .list-group-item {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 15px 15px;
}
.list-group-custom .list-group-item:first-child {
  border-top: 0;
}
.list-group-custom .list-group-item > .description {
  padding-left: 20px;
  display: none;
  color: #ddd;
}
.list-group-custom .list-group-item.open {
  padding-right: 15px;
  background-color: #168ccc;
  color: #fff;
  cursor: default;
}
.list-group-custom .list-group-item.open .list-group-submenu {
  right: 5px;
}
.list-group-custom .list-group-item.open > .sort-handler {
  left: -10px;
}
.list-group-custom .list-group-item.open > .description {
  display: block;
}
.list-group-custom .list-group-submenu {
  position: absolute;
  top: 0px;
  right: -200px;
  white-space: nowrap;
  list-style: none;
  padding-left: 0px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  top: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  backgroud-color: #fff;
}
.list-group-custom .list-group-submenu .list-group-submenu-item {
  float: right;
  white-space: nowrap;
  display: block;
  margin-bottom: -1px;
  background-color: #333;
  color: #ebebeb;
  padding: 0px;
  color: #000;
}
background-color: #168ccc {
  margin-right: 1px;
}
background-color: #168ccc:first-child {
  border-right: 0px;
}
background-color: #168ccc:hover,
background-color: #168ccc.danger {
  color: #fff;
  background-color: #d9534f;
}
.list-group-custom .list-group-item:first-child,
.list-group-custom .list-group-item:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}
.venue-list {
  padding: 0;
}
.venue-list > li.venue {
  display: flex;
  border-left: 0;
  border-right: 0;
  flex-flow: row wrap;
  cursor: pointer;
  padding: 0 10px 0 0;
}
.venue-list > li.venue:hover {
  background-color: #f5f5f5;
}
.venue-list > li.venue .venue-photo {
  display: flex;
  height: 100px;
  min-height: auto;
  min-width: auto;
  width: 100px;
  flex: 0 0 auto;
}
.venue-list > li.venue .venue-photo > img {
  height: 100px;
  min-height: auto;
  min-width: auto;
  width: 100px;
}
.venue-list > li.venue .venue-title {
  flex: 1 1 0%;
  flex-flow: column nowrap;
  padding: 0px 0px 0px 5px;
}
.venue-list > li.venue .venue-title .venue-name {
  margin: 0 0 10px;
  font-size: 20px;
  position: relative;
  word-break: break-all;
}
.venue-list > li.venue .venue-title .venue-category {
  color: #999;
}
.venue-list > li.venue .venue-meta {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
}
.venue-list > li.venue .venue-meta .venue-rating {
  border: 1px solid #00f;
  text-align: center;
  margin-top: 5px;
  padding: 2px 10px;
}
.venue-list >li.venue:first-child,
.venue-list >li.venue:last-child {
  border: 0;
}

body {
  padding-top: 50px;
  background-color: #eee;
}
.custom-note {
  background-color: #eee;
  padding: 5px;
  margin: 5px 0;
  text-align: center;
}
.custom-note.primary {
  background-color: #168ccc;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
