default_indent = 5px

body
    padding-top 50px
    // padding-bottom 40px
    background-color #eee

.custom-note
    background-color #eee
    padding default_indent
    margin default_indent 0
    text-align center
    &.primary
        background-color #168ccc
        color white

// .no-object
//     margin 20px auto
//     position relative
//     // box-shadow 0 3px 6px 1px rgba(0, 0, 0, 0.16)
//     background #eee
//     text-align center
//     padding 20px
//     max-width 300px
//     .icon
//         font-size 60px
//     .text
//         font-size 30px