<template>
    <li class="list-group-item venue" @click="go_to(venue.id)">
        <div class="venue-photo">
            <img :src="photo" :title="venue.title">
        </div>
        <div class="venue-title">
            <h2 class="venue-name">{{venue.name}}</h2>
            <div class="venue-category">  {{venue.category}} </div>
        </div>
        <div class="venue-meta">
            <div class="venue-rating" v-if="venue.rating">
                {{venue.rating}}
            </div>
            <div class="venue-price" v-if="venue.price">
                {{venue.price}}
            </div>
        </div>
    </li>
</template>

<script>
export default {
    props: ['venue'],
    computed: {
        photo () {
            if (this.venue.photos.length > 0)
                return this.venue.photos[0]
            else
                return '/static/images/4sq_photo_stub.png'
        },
        point_id () {
            return this.$route.params.point_id
        }
    },
    methods : {
        go_to (venue_id) {
            // this.$router.push({ name: 'subpoint.wizard.venue', params: { point_id: this.point_id, venue_id: venue_id }, query: {add_to: this.point_id}})
            this.$router.push({ name: 'venue.info', params:{ venue_id: venue_id}, query: {add_to: this.point_id}})
        }
    }
}
</script>