<template>
    <li class="list-group-item">
        <div class="subpoint-name"> {{ subpoint.title }}</div>
        <ul class="list-group-submenu">
            <li class="list-group-submenu-item">
            <button class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            </li>

            <li class="list-group-submenu-item ">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </li>
        </ul>
    </li>
</template>

<script>
export default {
    props: ['subpoint']
}
</script>