<template>
    <app-page-layout :class_name = 'class_name' :title = 'title'>
        <template slot="content">
            <div class="wizard-sources">
                <div class="btn-group">
                  <router-link class="btn btn-default" :to="{name: 'point.wizard.foursquare', params: {point_id: current_point.id, category: 'top' }}">{{ $t('foursquare')}} </router-link>
                  <router-link class="btn btn-default" :to="{name: 'point.wizard.custom', params: {point_id: current_point.id }}">{{ $t('custom')}} </router-link>
                </div>
            </div>
            <router-view></router-view>
        </template>
    </app-page-layout>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
    data () {
        return {
            class_name: 'subpoint-wizard',
            title: this.$t('add_subpoint'),
        }
    },
    computed: {
        ...mapGetters(['current_point'])
    }
}
</script>