<template>
    <div>
        <div class="app-spinner" v-if="loading"></div>
        <template v-if="!loading">
            <div class="input-group" >
                <input type="text" class="form-control input-sm" v-model="search_box" v-validate data-vv-rules="required|min:4" :class="{'has-error': errors.has('search-box') }" name="search-box" placeholder="Address or coordinates">
                <span class="input-group-btn">
                    <button class="btn-default btn btn-sm" @click="process"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>
            <div class="custom-note">
                Click to the any place on map. We try to get closest address to choosed point
            </div>
            <subpoint-form :subpoint="search_result" v-if="search_result"></subpoint-form>
        </template>

    </div>
</template>

<script>
import { geocoder_search } from '../../helpers.js'
import SubpointForm from './SubpointForm.vue'
export default {
    components: {'subpoint-form': SubpointForm},
    data () {
        return {
            loading: false,
            search_box: '',
            click_listener: null,
            search_result: {}
        }
    },

    methods : {
        process () {
            console.log(this.search_box)
        }
    },
    mounted () {
        // start listen map click here
        this.click_listener = window.map.addListener('click', (event) => {
            this.loading = true
            let lat = event.latLng.lat(),
                lng = event.latLng.lng()

            let pos = new google.maps.LatLng(lat, lng)

            geocoder_search({'latLng': pos}, lat, lng).then(
                (result) => {
                    console.log(result)
                    this.loading = false
                }

            )
        })
    },
    beforeDestroy () {
        // stop listen map click here
        this.click_listener.remove()
    }

}
</script>