<template>
    <div>
        <div class="app-spinner" v-if="loading"></div>
        <template v-if="!loading">
            <v-select :value.sync="category" :options="options" :on-change="change"></v-select>
            <ul class="venue-list">
                <foursquare-venue v-for="venue in foursquare_venues[this.current_point.id]" :venue="venue"></foursquare-venue>
            </ul>
        </template>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import FoursquareVenueResult from './FoursquareVenueResult.vue'

export default {
    components: {'foursquare-venue': FoursquareVenueResult},

    props: {
        category: {
            type: String,
            default: 'test'
        }
    },

    data () {
        return {
            // selected_category: 'top',
            loading: true,
            options: ['top', 'outdoors']
        }
    },

    mounted () {
        this.search()
    },

    methods: {
        search () {
            this.loading = true
            window.ws.request(
                'get_foursquare_venues', 
                {category: this.category, point: this.current_point.id}
            ).then(
                (response) => {
                    if (response.success){
                        this.$store.commit('add_venues', {point_id: this.current_point.id, venues: response.result.venues})
                    }
                    this.loading = false
                }
            )
        },
        change (val) {
            this.$router.push({name: 'point.wizard.foursquare', params: {point_id: this.current_point.id, category: val }})
        }
    },

    // beforeRouteUpdate (to, from, next) {
    //     console.log('route_update')
    //     this.category = to.params.category
    //     next()
    // },

    watch: {
        '$route' (to, from) {
            this.category = this.$route.params.category
            this.search()
        }
    },

    computed: {
        ...mapGetters([
            'foursquare_venues',
            'current_point'
        ]),
        venues () {
            return this.foursquare_venues[this.current_point.id]
        }
    }
}

</script>